@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Cairo:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-cairo bg-primary-50 text-gray-800;
  }
}

.font-amiri {
  font-family: 'Amiri', serif;
}

.font-cairo {
  font-family: 'Cairo', sans-serif;
}
